<div class="container" id="profile-edit">

  <div class="row text-right margin-top5" >
    <div class="col-xs-10 col-xs-offset-2">
      <h1 id="dashboard-h1">Your Profile</h1>
      <p>Edit your infos</p>
    </div>
  </div>

  <%= render "shared/swiper" %>
  <div class="row margin-top15">
    <div class="col-xs-12 text-right">
      <%= link_to "edit cars", client_cars_path, class: "btn btn-info" %>
    </div>
  </div>

  <div class="row margin-top15">
    <%= simple_form_for @user, url: client_user_path(@user) do |f| -%>
      <div class="col-xs-12">
        <%= f.input :avatar, as: :attachinary %>
      </div>
      <div class="col-xs-12">
        <%= f.input :email %>
      </div>
      <div class="col-xs-12">
        <%= f.input :phonenumber %>
      </div>
      <div class="col-xs-12 text-center">
        <%= f.submit "Save your Informations", class: "btn btn-primary" %>
      </div>
    <% end -%>
  </div>
</div>
