<div class="container">
<%= render "shared/mcc-main-title" %>
  <div class="row text-left margin-top5" >
    <div class="col-xs-12">
      <h3 id="dashboard-h1">Your Profile</h3>
    </div>
  </div>

  <section id="client-section">
    <div class="row">
      <div class="col-xs-12 profil-description">
        <div class="col-xs-5 text-center client-picture">
          <% if @user.avatar? %>
            <%= cl_image_tag @user.avatar.path, crop: :fill  %>
          <% else %>
            <%= image_tag "profil.png" %>
          <% end %>
        </div>
        <div class="col-xs-7 text-right client-details margin-top15">
          <p class="email"><%= @user.email %></p>
          <p><%= @user.phonenumber %></p>
          <p class="created-at">client since : <%= @user.created_at.strftime('%d/ %m/ %Y') %></p>
          <div class="flex-ver-center margin-top15">
            <p class="cars">You have <%= @user.cars.size %> cars</p>
            <%= link_to "edit", client_dashboard_edit_path(@user), id: "client-edit" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h3>Your cleanings:</h3>
        <ul class="dashboard-client-ul">
          <p class="status">pending</p>
          <% @cleanings.each_with_index do |cleanings, i| %>
            <% cleanings.each_with_index do |cleaning, is| %>
                <p class="created-at">created : <%= cleaning.created_at.strftime("%d/%m/%y at %Hh%M") %></p>
                <li class="card" id="status-<%= "#{cleaning.status}#{is}"%>">
                  <div>
                    <% car = Car.find(cleaning.car_id) %>
                    <% if car.car_picture && !car.car_picture.blank? %>
                      <%= image_tag car.car_picture, class: "img-circle" %>
                    <% else %>
                      <%= image_tag "#{Category.find(car.category_id).name}_car.svg", class: "img-circle" %>
                    <% end %>
                  </div>
                  <div>
                    <p class="dashboard-cleaning-description"><%= car.brand %> <%= car.model %></p>
                    <p class="dashboard-cleaning-description" style="color: <%= car.color %>;"><%= car.color %></p>
                  </div>
                  <div>
                    <p class="dashboard-cleaning-description"><%= cleaning.place %></p>
                    <p class="dashboard-cleaning-description"><%= cleaning.period.strftime("%d/%m/%y - %M/%H") if cleaning.period %></p>
                  </div>

                  <% unless cleaning.rating.nil? %>
                  <div>
                    <p class="dashboard-cleaning-description"><%= cleaning.rating %>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </p>
                  </div>
                  <% end %>

                  <% if cleaning.status == "complete" && cleaning.rating %>
                      <%= link_to "hide", client_cleaning_path(cleaning, cleaning: {status: "archived"}), class: "btn btn-default btn-hide", method: "patch"  %>
                  <% else %>
                    <div>
                      <p class="dashboard-cleaning-description p-status-<%= cleaning.status %>"><%= cleaning.status %></p>
                    </div>
                  <% end %>
                  <% if cleaning.status == "accepted" %>
                    <%= link_to client_orders_path(cleaning: cleaning), class: "dashboard-cleaning-link stripe flex-ver-center", method: "post" do %>
                      <p>Click to Pay</p>
                    <% end %>
                  <% elsif cleaning.status == "complete" && cleaning.rating.nil? %>
                    <%= link_to edit_client_cleaning_path(cleaning), class: "dashboard-cleaning-link stripe flex-ver-center" do %>
                    <p>Rate this cleaning</p>
                    <% end %>
                  <% else %>
                    <%= link_to '', client_cleaning_path(cleaning), class: "dashboard-cleaning-link" %>
                  <% end %>
                    <%# raise %>
                </li>
            <% end %>
            <% if i == 0 && @accepteds.blank? == false %>
              <hr>
              <p class="status">accepted</p>
            <% elsif i == 1 && @confirmeds.blank? == false %>
              <hr>
              <p class="status">confirmed</p>
            <% elsif i == 2 && @completes.blank? == false %>
              <hr>
              <p class="status">completed</p>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
</div>
<script>
  $(document).ready(function() {
    $("#accept-btn").on('click', function(e) {
      $(".dashboard-cleaning-link").toggleClass('hidden');
    });
    $('.btn-hide').on('click', function(e) {
      $(this).parent().addClass('hidden');
    });
  });
</script>
