<div class="container" id="payment-new">
  <%= render "shared/mcc-main-title" %>

  <div class="row">
    <ul>
      <div class="col-xs-12 label-payment" >
        <p style="color: white;">Your car : </p>
      </div>
      <div class="col-xs-12">
        <li class="card flex-ver-center">
          <div class="col-xs-12">
            <div class="car-card">
              <div class="col-xs-5 flex-ver-center">
                <div class="car-image flex-ver-center img-circle">
                  <% if @car.car_picture && !@car.car_picture.blank? %>
                    <%= image_tag @car.car_picture  %>
                  <% else %>
                    <%= image_tag "#{@car.category.name}_car.svg"  %>
                  <% end %>
                </div>
              </div>
              <div class="col-xs-7 car-details">
                <div>
                  <strong class="car-model-brand">
                    <%= @car.brand %>
                    <%= @car.model %>
                  </strong>
                  <div class="glyphicon glyphicon-adjust" style="color: <%= @car.color %>">
                    <p>
                      (<%= @car.color %>)
                    </p>
                  </div>
                </div>
                <div class="immatriculation col-xs-8 text-center">
                  <%= @car.immatriculation %>
                </div>
                <div class="col-xs-4 text-center min-category flex-ver-center">
                  <%= image_tag "#{@car.category.name}_car.svg", class: "min-category" %>
                </div>
              </div>
            </div>
          </div>
        </li>
      </div>

      <div id="cleaner-recap">
        <% if @cleaning.status == "accepted" %>
          <%= render partial: 'users/cleaner_recap', locals: { cleaner: @cleaning.user, ratings: [] } %>
        <% else %>
          <%= render 'users/waiting_for_cleaner' %>
        <% end %>
      </div>

      <div class="col-xs-12 label-payment" >
        <p style="color: white;">At this place: </p>
      </div>
      <div class="col-xs-12">
        <li class="map-card card">
          <div class="text-center place-period-order-show">
            <p><%= @cleaning.place %></p>
              <div class="col-xs-12 col-map text-center" id="map"></div>
          </div>
        </li>
      </div>
      <div class="col-xs-12 label-payment" >
        <p style="color: white;">At this period: </p>
      </div>
      <div class="col-xs-12">
        <li class="card period-place flex-ver-center">
          <div class="col-xs-12 text-center">
            <p><%= @cleaning.period.strftime("%d/%m/%y at %Hh%M") if @cleaning.period %></p>
          </div>
        </li>
      </div>
    <ul>
  </div>

  <div class="row hidden" style="margin-top: 50px;" id="pay-infos">
    <%= form_tag client_order_payments_path(@order) do %>
    <div class="col-xs-12 text-center">
      <article>
        <label class="amount">
          <span>Amount : <%= humanized_money_with_symbol(@order.amount) %></span>
        </label>
      </article>
    </div>
    <div class="col-xs-12 text-center last-col">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="My Cleaning"
      data-email="<%= current_user.email %>"
      data-description="Cleaning <%= @order.cleaning.id %>"
      data-amount="<%= @order.amount_cents %>"
      data-currency="<%= @order.amount.currency %>"></script>
    </div>
    <% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var address = {lat: <%= @cleaning.latitude %>, lng: <%= @cleaning.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: address
      });
      var marker = new google.maps.Marker({
        position: address,
        map: map
      });
    });
  <% end %>

  <% if @cleaning.status == "accepted"%>
    <script>
      $("#pay-infos").removeClass('hidden')
    </script>
  <% end %>
<% end %>

