<div class="container">
  <%= render "shared/mcc-main-title" %>

  <div class="row index-map">
    <div class="col-xs-12">
      <h6>Cleaners around you</h6>
    </div>
    <div id="map"></div>
  </div>

  <div class="row index-cleaners-cards">
    <% @cleaners.each do |cleaner| %>
    <div class="col-xs-12 card">
      <div class="flex-ver-center">
        <div class="col-xs-3">
        <%= image_tag "profil.png", id: "logo", height: 60 %>
        </div>
        <div class="col-xs-3">
          <%= cleaner.firstname %>
        </div>

        <div class="col-xs-3 col-xs-offset-3">
          <% unless cleaner.cleanings.blank? or cleaner.cleanings == false %>
            <% cleaner.cleanings.where.not(rating: nil).each do |cleaning| %>
              <% @ratings << cleaning.rating  %>
            <% end %>
            <%= rating = @ratings.sum / @ratings.size if @ratings.size >= 1%>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          <% else %>
            <p class="no-rating">no rating yet</p>
          <% end%>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row index-btn-connect margin-top50">
    <div class="col-xs-12 text-center">
      <% if current_user %>
        <%= link_to "Book a Cleaning", new_cleaning_path, class: "btn btn-success" %>
      <% else %>
        <%= link_to "Connect to My Clean Car", new_user_session_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var styles = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]

    var handler = Gmaps.build('Google');
    handler.buildMap({
      provider:
      {
        disableDefaultUI: true,
        styles: styles
        // pass in other Google Maps API options here
        // => https://developers.google.com/maps/documentation/javascript/reference#MapOptions
      },
      internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length > 0) {
          handler.getMap().setZoom(11);
        }
        console.log('map done');
      });
  });
  <% end %>
<% end %>
