<div class="container">
  <div class="row text-right margin-top5" >
    <div class="col-xs-10 col-xs-offset-2">
      <h2>Your Profile</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-1 text-center">
      <%= image_tag "profil.png", style: "width: 100%"%>
    </div>
    <div class="col-xs-7 text-right">
      <p><%= @user.email %></p>
      <p class="created-at">client since : <%= @user.created_at.strftime('%d/ %m/ %Y') %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3>Your cleanings</h3>
      <ul class="dashboard-client-ul">
        <p>pending</p>
        <% @cleanings.each_with_index do |cleanings, i| %>
          <% cleanings.each do |cleaning| %>
              <li class="card">
                <div>
                  <% car = Car.find(cleaning.car_id) %>
                  <% if car.car_picture && !car.car_picture.blank? %>
                    <%= image_tag car.car_picture, class: "img-circle" %>
                  <% else %>
                    <%= image_tag "#{Category.find(car.category_id).name}_car.svg", class: "img-circle" %>
                  <% end %>
                </div>
                <div>
                  <p class="dashboard-cleaning-description"><%= car.brand %> <%= car.model %></p>
                  <p class="dashboard-cleaning-description"><%= car.color %></p>
                </div>
                <div>
                  <p class="dashboard-cleaning-description"><%= cleaning.place %></p>
                  <p class="dashboard-cleaning-description"><%= cleaning.period.strftime("%d/%m/%y - %M/%H") if cleaning.period %></p>
                </div>

                <% unless cleaning.rating.nil? %>
                <div>
                  <p class="dashboard-cleaning-description"><%= cleaning.rating %>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </p>
                </div>
                <% end %>

                <% if cleaning.status == "complete" && !cleaning.rating.nil? %>
                    <%= link_to "hide", cleaning_path(cleaning), class: "btn btn-default btn-hide", method: "patch"  %>
                <% else %>
                  <div>
                    <p class="dashboard-cleaning-description p-status-<%= cleaning.status %>"><%= cleaning.status %></p>
                  </div>
                <% end %>
                <%= link_to '', cleaning_path(cleaning), class: "dashboard-cleaning-link" %>
              </li>
          <% end %>
          <% case i %>
          <% when 0 %>
            <hr>
            <p>confirmed</p>
          <% when 1 %>
            <hr>
            <p>complete</p>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

