<div class="row margin-bottom20">
  <div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
      <div class="swiper-slide create-car-slide">
        <%= link_to "Create new car", new_car_path, class: "col-xs-12 create-car-link"%>
      </div>

      <% @cars.each do |car| %>
        <div class="swiper-slide car-slide" id="<%= car.id %>">
          <div class="col-xs-4 col-xs-offset-1 car-image flex-ver-center img-circle">
            <% if car.car_picture && !car.car_picture.blank? %>
              <%= image_tag car.car_picture  %>
            <% else %>
              <%= image_tag "#{car.category.name}_car.svg"  %>
            <% end %>
          </div>
          <div class="col-xs-6 car-details">
            <div>
              <strong class="car-model-brand">
                <%= car.brand %>
                <%= car.model %>
              </strong>
              <div class="glyphicon glyphicon-adjust" style="color: <%= car.color %>">
                <p>
                  (<%= car.color %>)
                </p>
              </div>
            </div>
            <div class="immatriculation col-xs-8 text-center">
              <%= car.immatriculation %>
            </div>
            <div class="col-xs-4 text-center min-category flex-ver-center">
              <%= image_tag "#{car.category.name}_car.svg", class: "min-category" %>
            </div>
          </div>
        </div>
      <% end %>

    </div>

    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<script>
  var swiper = new Swiper('.swiper-container', {
    initialSlide: 1,
    roundLengths: true,
    pagination: '.swiper-pagination',
    paginationClickable: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
    onSlideChangeEnd: function (swiper) {
      var carId = $(".swiper-slide-active").attr('id');
      $('#car_id_field').val(carId);
    }
  });
</script>

