<div class="container">
  <div class="row text-right" style="margin: 17vh 30px 0px 0px;">
    <h1 >My Clean Car</h1>
    <h4>book an eco wash</h4>
  </div>

  <div class="row" style="padding: 0px 30px;">
    <%= form_tag users_path, method: "get", class:"form-inline" do %>
      <div class="form-group">
        <div class="col-xs-12">
          <label style="font-weight: lighter;">cleaners around you</label>
        </div>
        <div class="col-xs-9">
          <%= text_field_tag :location_address, nil, class: "form-control", placeholder: "Location of your car"  %>
        </div>
        <div class="col-xs-3" style="padding: 0px;">
          <input type="submit" class="btn btn-success" value="search">
        </div>
      </div>
      <div class="col-xs-9">
        <%= text_field_tag :address, nil, class: "form-control", placeholder: "Location of your car"  %>
      </div>
      <div class="col-xs-3" style="padding: 0px;">
        <input type="submit" class="btn btn-success" value="search">
      </div>
    </div>
  <% end %>
  </div>

  <div style="display: flex; flex-direction: column; margin-top: 50px; align-items: space-between; justify-content: space-around; height: 42vh;">
    <div class="row" >
      <div class="col-xs-12">
        <h4>How it works?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag "smartphone.png", style: "height: 35px; margin: 0px 5px;"%>
      </div>
      <div class="col-xs-10">
        <p style="font-size: 12px;">You are a motorist ....<br>Connect to My Clean Car via your smartphone to order an outdoor wash of your car.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag "parking.png", style: "height: 35px; margin: 0px 5px;"%>
      </div>
      <div class="col-xs-10">
        <p style="font-size: 12px;">Enter the characteristics of your car as well as your parking information.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag "spray.png", style: "height: 35px; margin: 0px 5px;"%>
      </div>
      <div class="col-xs-10">
        <p style="font-size: 12px;">A cleaner will come clean your car during parking, at the desired time and at the location indicated.</p>
      </div>
    </div>
  </div>
</div>
