<div class="container">
  <%= render "shared/mcc-main-title" %>

  <div class="row address-search-bar">
    <%= form_tag users_path, method: "get", class:"form-inline" do %>
      <div class="form-group">
        <div class="col-xs-12">
          <label>cleaners around you</label>
        </div>
        <div class="col-xs-8">
          <%= text_field_tag :address, nil, class: "form-control autocomplete", placeholder: "Le Wagon Bordeaux" %>
        </div>
        <div class="col-xs-4">
          <input type="submit" class="btn btn-success" value="search">
        </div>
      </div>
    <% end %>
  </div>

  <div class="presentation-area">
    <div class="row" >
      <div class="col-xs-12">
        <p class="how-it-works">How it works?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag "smartphone.png", style: "width: 100%; margin: 0px 5px;"%>
      </div>
      <div class="col-xs-10">
        <p class="p-pres">You are a motorist ....<br>Connect to My Clean Car via your smartphone to order an outdoor wash of your car.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag "parking.png", style: "width: 100%; margin: 0px 5px;"%>
      </div>
      <div class="col-xs-10">
        <p class="p-pres">After Sign-up... Complete the form by entering the characteristics of your car as well as your parking information.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <%= image_tag "spray.png", style: "width: 100%; margin: 0px 5px;"%>
      </div>
      <div class="col-xs-10">
        <p class="p-pres">A cleaner will come clean your car during parking, at the desired time and at the location indicated.</p>
        <p class="text-right p-pres"><%= link_to "more details", "/about" %></p>
      </div>
    </div>
  </div>
</div>
