<% missions.each do |cleaning| %>
  <p class="created-at">created : <%= cleaning.created_at.strftime("%d/%m/%y at %Hh%M") %></p>
  <li class="card">
    <div class="col-xs-2 text-left img-col img-circle">
      <% if cleaning.car.car_picture && !cleaning.car.car_picture.blank? %>
        <%= image_tag cleaning.car.car_picture %>
      <% else %>
        <%= image_tag "#{Category.find(cleaning.car.category_id).name}_car.svg", class: "img-circle" %>
      <% end %>
    </div>
    <div class="col-xs-2 car-col">
      <p class="dashboard-cleaning-description"><%= cleaning.car.brand %> <%= cleaning.car.model %></p>
      <p class="dashboard-cleaning-description"><%= cleaning.car.color %></p>
    </div>
    <div class="col-xs-4 place">
      <p class="dashboard-cleaning-description"><%= cleaning.place %></p>
    </div>
    <div class="col-xs-2 date">
      <p class="text-center dashboard-cleaning-description"><%= cleaning.period.strftime("%d/%m/%y")%></p>
      <p class="text-center dashboard-cleaning-description"><%= cleaning.period.strftime("%Hh%M")%></p>
    </div>
    <% if cleaning.status == "pending" %>
      <div class="col-xs-2 col-btn">
        <%= link_to "accept", cleaning_path(cleaning), method: 'patch', class: "btn btn-info", id: "accept-btn" %>
      </div>
    <% elsif cleaning.status == "accepted" %>
      <%= link_to "https://calendar.google.com/calendar/", class: "dashboard-cleaner-link flex-ver-center stripe text-center" do %>
        <p>waiting for paiement confirmation <br> add to your google calendar</p>
      <% end %>
    <% elsif cleaning.status == "confirmed" %>
      <div class="col-xs-2 col-btn">
        <%= link_to "edit", cleaning_path(cleaning), class: "btn btn-primary" %>
      </div>
    <% end %>
  </li>
<% end %>
