  <div class="row">
    <div class="col-xs-12">
      <div class="car-card">
        <div class="col-xs-5 flex-ver-center">
          <div class="car-image flex-ver-center img-circle">
            <% if car.car_picture && !car.car_picture.blank? %>
              <%= image_tag car.car_picture  %>
            <% else %>
              <%= image_tag "#{car.category.name}_car.svg"  %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-7 car-details">
          <div>
            <strong class="car-model-brand">
              <%= car.brand %>
              <%= car.model %>
            </strong>
            <div class="glyphicon glyphicon-adjust" style="color: <%= car.color %>">
              <p>
                (<%= car.color %>)
              </p>
            </div>
          </div>
          <div class="immatriculation col-xs-8 text-center">
            <%= car.immatriculation %>
          </div>
          <div class="col-xs-4 text-center min-category flex-ver-center">
            <%= image_tag "#{car.category.name}_car.svg", class: "min-category" %>
          </div>
        </div>
      </div>
    </div>
  </div>
