<div class="container">
  <%= render "shared/mcc-main-title" %>

  <% if current_user.cleaner and @cleaning.status == "confirmed" %>
    <div class="row">
      <%= simple_form_for(@cleaning) do |f| %>
        <div class="col-xs-12 text-center">
          <%= f.input :photos, as: :attachinary %>
          <%= f.input :status, input_html: {value: "complete"}, as: :hidden %>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  <% end %>


  <div class="row margin-top20">
    <div class="col-xs-12 text-center">
      *****
    </div>
  </div>
</div>

