<div class="container">

  <div class="row text-right margin-top15">
    <div class="col-xs-10 col-xs-offset-2">
      <h2>My Clean Car</h2>
      <h6>book an eco wash</h6>
    </div>
  </div>

  <%= simple_form_for :clean, url: cleanings_path, method: :post do |f| %>
    <div class="row">
      <p class="car-select">
        Select your car
      </p>
    </div>

    <%= render "shared/swiper" %>
    <%= f.text_field :car_id, id: "car_id_field", class: "hidden" %>

    <div class="row" >
      <p class="period-select">
        Enter your parking period
      </p>
      <div class="datetime-group">
        <div class="col-xs-1 text-center col-icon-datetime">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <div class="col-xs-11">
          <%= f.date_field :date, id: "date_picker", class: "form-control" %>
        </div>
      </div>

      <div class="datetime-group">
        <div class="col-xs-1 text-center col-icon-datetime">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <div class="col-xs-11">
          <%= f.text_field :time, readonly: true, class: "clockpicker form-control", value: "14:00" %>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="location-select">
        Car location during cleaning
      </p>
      <div class="flex-ver-center">
        <div class="col-xs-1 text-right location-img">
          <%= image_tag "localisation.png", style: "height: 30px;"%>
        </div>
        <div class="col-xs-11">
          <%= f.input :place, input_html: {class: "form-control autocomplete", placeholder: "Bordeaux"}, label: false %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.text_area :comment_access, placeholder: "Give more details to the cleaner (special access, other informations ...)", class: "form-control"  %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-success">
          <input type="checkbox" autocomplete="off" checked="">
          <span class="glyphicon glyphicon-ok"></span>
          </label>
        </div>
      </div>
        <div class="col-xs-10">
        <p>Confirm the security and easy access for the cleaner</p>
        </div>
    </div>

    <div class="row margin-top15">
      <div class="text-center">
        <%= f.submit "Contact a cleaner", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
