<div class="container">

  <div class="row text-right" style="margin-top: 15px;">
    <div class="col-xs-10 col-xs-offset-2">
      <h2>My Clean Car</h2>
      <h6>book an eco wash</h6>
    </div>
  </div>

  <%= form_for @cleaning do |f| %>
    <div class="row">
      <h6 style="margin: 0px 0px 3px 16px; ">
        Select your car
      </h6>
    </div>

    <%= render "shared/swiper" %>
    <%= f.text_field :car_id, id: "car_id_field", class: "hidden" %>

    <div class="row">
      <h6 style="margin-bottom: 3px; margin-left: 16px;">
        Enter your parking period
      </h6>
      <div class="col-xs-12">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <%= f.date_field :period, id: "date_picker", class: "form-control" %>
      </div>

      <div class="col-xs-12">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <%= f.time_field :period, class: "clockpicker form-control", value: "14:00" %>
      </div>
    </div>

    <div class="row">
      <h6 style="margin-bottom: 3px; margin-left: 16px;">
        Car location during cleaning
      </h6>
      <div class="col-xs-2">
        <%= image_tag "localisation.png", style: "height: 45px;"%>
      </div>
      <div class="col-xs-8">
        <%= text_field_tag :address, nil, class: "form-control autocomplete", placeholder: "Bordeaux" %>
      </div>
    </div>

    <div class="row">
      <h6 style="margin-bottom: 3px; margin-left: 16px;">
        Please confirm the mandatory items to order
      </h6>
      <div class="col-xs-12 text-center">
        <h5>[Easy Access][Security][Private Zone]</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.text_area :comment_access, placeholder: "Give more details to the cleaner (special access, other informations ...)", class: "form-control"  %>
      </div>
    </div>

    <div class="row" style="margin-top: 15px;">
      <div class="text-center">
        <%= f.submit "Contact a cleaner", class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
</div>
