<div class="container">

  <div class="row text-right" style="margin-top: 15px;">
    <div class="col-xs-10 col-xs-offset-2">
      <h2>My Clean Car</h2>
      <h6>book an eco wash</h6>
    </div>
  </div>

  <div class="row" id="<%= @car.id %>" style="height: 12vh; background-color: #e5e5e5; display: flex; align-items: center; margin: 0px">
      <div class="col-xs-4 col-xs-offset-1">
        <% if @car.car_picture && !@car.car_picture.blank? %>
          <%= image_tag @car.car_picture, class: "img-circle" %>
        <% else %>
          <%= image_tag "car_picto.png", style: "width: 80%; height: 9vh; background-color: white;", class: "img-circle" %>
        <% end %>
      </div>
      <div class="col-xs-7 ">
        <h4>
          <%= @car.brand %>
          <%= @car.model %>
          <%= @car.color %>
        </h4>
        <h6 style="display: flex; justify-content: space-around;">
          <small>
            <%= @car.immatriculation %>
          </small>
          <%= Category.find(@car.category_id).name %>
        </h6>
      </div>
  </div>

  <div class="row">
    <h6 style="margin-bottom: 3px; margin-left: 16px;">
      Enter your parking period
    </h6>
    <div class="col-xs-10 col-xs-offset-1">
      <%= image_tag "datepicker.png", style: "height: 45px;"%>
       --datetime picker--
    </div>
  </div>

  <div class="row">
    <h6 style="margin-bottom: 3px; margin-left: 16px;">
      Car location during cleaning
    </h6>
    <div class="col-xs-10 col-xs-offset-1">
      <%= image_tag "localisation.png", style: "height: 45px;"%>
      --address input--
    </div>
  </div>

  <div class="row">
    <h6 style="margin-bottom: 3px; margin-left: 16px;">
      Please confirm the mandatory items to order
    </h6>
    <div class="col-xs-12 text-center">
      <h5>[Easy Access][Security][Private Zone]</h5>
    </div>
  </div>

  <div class="col-xs-12 card" style="padding: 5px; background-color: #e5e5e5; margin-bottom: 25px;">
    <div style="display: flex; align-items: center;">
      <div class="col-xs-3">
      <%= image_tag "profil.png", id: "logo", height: 60 %>
      </div>
      <div class="col-xs-3">
        <%= @cleaner.firstname %>
      </div>

      <div class="col-xs-4 col-xs-offset-2 text-center">
        <% unless @cleanings.where.not(rating: nil).blank? %>
          <% @cleanings.where.not(rating: nil).each do |cleaning| %>
            <% @ratings << cleaning.rating  %>
          <% end %>
          <%= @ratings.sum / @ratings.size%>
        <% else %>
          <h6>no rating yet</h6>
        <% end %>
      </div>
    </div>
  </div>

  <!-- not sure how to correct so prefered to not do shit -->
  <% unless @cleaning.status == "complete" %>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-xs-12 text-center">
        <%#= link_to "Pay to book this cleaning", dashboard_path, class: "btn btn-success" %>
        <button href="#" class="progress-demo btn btn-primary ladda-button" data-style="zoom-in" data-size="xs" data-spinner-color="#fff"><span class="ladda-label">Pay to book this cleaning</span></a>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group" role="group" aria-label="...">aaa</div>
      <div class="btn-group" role="group" aria-label="...">bbb</div>
      <div class="btn-group" role="group" aria-label="...">ccc</div>
    </div>
    </div>
  <% end %>

  <div id="cleaner-accepted" aria-hidden="true" aria-labelledby="cleaner-accepted" role="dialog" class="iziModal">
    <i class="iziModal-header-icon icon-power_settings_new"></i>
    <div class="iziModal-progressbar"></div>
    <div class="iziModal-wrap" style="height: auto;">
      <div class="iziModal-content" style="padding: 0;">
      </div>
    </div>
  </div>

</div>

<script>
  Ladda.bind( 'div:not(.progress-demo) btn', { timeout: 4000 } );
  Ladda.bind( '.progress-demo', {
    callback: function( instance ) {
      var progress = 0;
      var interval = setInterval( function() {
          progress = Math.min( progress + Math.random() * 0.1, 1 );
          instance.setProgress( progress );
          if( progress === 1 ) {
            instance.stop();
            clearInterval( interval );
          }
      }, 200 );
    }
  });
</script>
