<div class="container">
  <%= render "shared/mcc-main-title" %>

  <div class="row margin-top20 choosen-cleaner">
    <div class="col-xs-12">
      <p>Your cleaning will be done by : </p>
    </div>
    <div class="col-xs-12 card flex-ver-center">
      <div class="col-xs-3">
      <%= image_tag "profil.png", id: "logo", height: 60 %>
      </div>
      <div class="col-xs-3">
        <%= @order.cleaning.user.firstname %>
      </div>

      <div class="col-xs-4 col-xs-offset-2 text-center">
        <% unless @cleanings.where.not(rating: nil).blank? %>
          <% @cleanings.where.not(rating: nil).each do |cleaning| %>
            <% @ratings << cleaning.rating  %>
          <% end %>
          <%= (@ratings.sum / @ratings.size.to_f).to_s.first(3) %>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        <% else %>
          <p>no rating yet</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px;">
    <div class="col-xs-12 text-center">
      <%= form_tag order_payments_path(@order) do %>
        <article>
          <label class="amount">
            <span>Amount : <%= humanized_money_with_symbol(@order.amount) %></span>
          </label>
        </article>
      <% end %>
    </div>
    <div class="col-xs-12 text-center">
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="My Cleaning"
      data-email="<%= current_user.email %>"
      data-description="Cleaning <%= @order.cleaning.id %>"
      data-amount="<%= @order.amount_cents %>"
      data-currency="<%= @order.amount.currency %>"></script>
    </div>
  </div>


</div>
