<div class="container">
  <div class="row text-right margin-top15">
    <div class="col-xs-10 col-xs-offset-2">
      <h2>Enter your car to clean</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for @car do |f| %>
        <%= f.error_notification %>

      <div class="form-inputs">
        <div class="col-xs-12">
            <%= f.input :immatriculation, placeholder: "DB 888 QV"  %>
          </div>
          <div class="col-xs-6">
           <%= f.input :brand, placeholder: "Peugeot" %>
          </div>
          <div class="col-xs-6">
            <%= f.input :model, placeholder: "208" %>
          </div>
          <div class="col-xs-12">
            <%= f.input :color, placeholder: "grey" %>
          </div>

        </div>
    </div>
  </div>

  <div class="row" >
    <div class="col-xs-12">
      <div class="col-xs-12">
        <strong>*Select your car size:</strong>
      </div>
    </div>
    <div class="col-xs-12 text-center hidden">
      <%= f.text_field :category_id, value: 2, id: "category-input" %>
    </div>
    <div class="col-xs-12 buttons flex-ver-center">
      <div class="col-xs-4 btn text-center category" id="1">
        <div class="category-btn">
          <p>small</p>
          <%= image_tag "small_car.svg", style: "width: 39px;"%>
        </div>
      </div>
      <div class="col-xs-4 btn text-center category active" id="2">
        <div class="category-btn">
          <p>medium</p>
          <%= image_tag "normal_car.svg", style: "width: 54px;"%>
        </div>
      </div>
      <div class="col-xs-4 btn text-center category" id="3">
        <div class="category-btn">
          <p>large</p>
          <%= image_tag "large_car.svg", style: "width: 55px;"%>
        </div>
      </div>
    </div>
  </div>

  <div class="row save-btn">
    <div class="col-xs-12 text-center">
      <%= f.submit "Save this Car", class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $('.category').on('click', function(e) {
      $('.category').removeClass('active');
      $(this).addClass('active');
      $("#category-input").val($(this).attr('id'));
    });
  });
</script>
