<!DOCTYPE html>
<html>
  <head>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="theme-color" content="#32B796">
    <meta name="msapplication-navbutton-color" content="#32B796">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet">

    <title><%= @title.blank? ? "My Clean Car, book easily an eco wash" : @title %></title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'car_picto.png' %>
    <%= render "shared/ga" if Rails.env.production? %>
  </head>

    <body>
      <div class="background" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "background_bentley.jpg" %>');">
        <%= render 'shared/flashes' %>
        <%= render 'shared/dropdown' %>
        <%= yield %>
      </div>
      <%= render 'shared/javascript_tag' %>
      <%= javascript_include_tag 'application' %>
      <%= cloudinary_js_config %>
      <%= yield(:after_js) %>
    </body>

</html>
