<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet">

    <title>My Clean Car</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag 'car picto.png' %>

  </head>
  <body>
    <%= render 'shared/dropdown' %>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <%= render 'shared/javascript_tag' %>
    <%= yield(:after_js) %>
  </body>
</html>
